@import "../../theme.scss";

.revision-card {
    border-radius: 8px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Media query for smaller screens */
    @media (max-width: 768px) {
        height: 100%;
        width: 100%;
        max-height: none;
        position: unset;
        transform: unset;
    }

    &__outer {
        background-color: $color-primary;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        transition: background-color 0.3s;

        &--not-revised {
            background-color: $color-not-revised;
        }

        &--no-answer {
            background-color: $color-no-answer;
        }

        &--no-question {
            background-color: $color-no-question;
        }

        &--revised {
            background-color: $color-revised;
        }

        @media (max-width: 768px) {
            height: 100%;
            min-height: fit-content;
        }
    }

    &__inner {
        background: rgba(255, 255, 255, 1);
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 8px;
        align-items: center;

        @media (max-width: 768px) {
            max-height: min(calc(100vh - $header-height - 40px));
        }
    }


    &__circle {
        --circle-size: 80px;

        background-color: $color-primary;
        color: $color-secondary;
        width: var(--circle-size);
        height: var(--circle-size);
        min-width: var(--circle-size);
        min-height: var(--circle-size);
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: $font-size-6;
        font-weight: bold;
        transition: background-color $animation-duration ease;

        &--not-revised {
            background-color: $color-not-revised;
        }

        &--no-answer {
            background-color: $color-no-answer;
        }

        &--no-question {
            background-color: $color-no-question;
        }

        &--revised {
            background-color: $color-revised;
        }

        @media (max-width: 768px) {
            --circle-size: 40px;
            font-size: $font-size-3;
            margin-bottom: 10px;
        }
    }

    &__content {
        color: $color-primary;
        flex-grow: 1;
        font-size: $font-size-6;
        line-height: 1.2;
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: hidden;
    }

    &__qa-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: max-height $animation-duration ease;
        overflow: hidden;
        // height: 200px;
        max-height: 200px;
    }

    &--answer-visible &__qa-container {
        // height: 100%;
        max-height: 1000px;
    }

    &__question {
        color: $color-primary;
        font-size: $font-size-6;
        line-height: 1.2;
        text-align: center;
        flex-shrink: 0;
    }

    &__edit-icon {
        $new-height: 24px;
        $scaling: calc($new-height / 40px);

        bottom: 2px;
        position: relative;
        margin-left: 10px;
        color: $color-secondary;
        min-width: 10px;
        width: $new-height;
        height: $new-height;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0px;

        mat-icon {
            font-size: calc(24px * $scaling);  // Scale down the icon graphic (default is 24px)
        }

        &:hover {
            color: lighten($color-primary, 10%);
        }
    }

    @keyframes animateAnswerVisible {
        0% {
            max-height: 100%;
            opacity: 0;
            overflow-y: hidden;
        }
        99% {
            overflow-y: hidden;
        }
        100% {
            max-height: none;
            opacity: 1;
            overflow-y: auto;
        }
    }

    &__answer {
        color: $color-primary;
        text-align: center;
        flex-shrink: 1;
        min-height: auto;
        max-height: 100%;
        font-size: $font-size-4;
        line-height: 1.4;
        opacity: 0;
        height: 0;
        overflow-y: hidden;
        margin-top: 20px;
        margin-bottom: 20px;

        /* Custom scrollbar styles */
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: darken($color-primary, 20%);
            border-radius: 4px;
        }
        scrollbar-width: thin;
        scrollbar-color: darken($color-primary, 20%) lighten($color-primary, 50%);
    }

    &__answer--visible {
        opacity: 1;
        max-height: none;
        height: auto;
        overflow-y: auto;
        animation: animateAnswerVisible $animation-duration forwards ease-in-out;
    }

    &__chip-list {
        margin: 10px 0;

        input {
            text-align: center;
        }
    }

    &__footer {
        margin-top: auto;
        @extend %space-around;
        flex-direction: column;
        width: 100%;
    }

    &__hide-button {
        background-color: $color-primary;
        color: $color-secondary;
        width: 100%;
        margin: 0 0 10px 0;

        &:hover {
            background-color: lighten($color-primary, 20%);
        }
    }

    &__button-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 10px;
    }

    &__button {
        margin: 0px;
        min-width: unset;
        width: 100%;
    }

    &__button-skip {
        @extend .revision-card__button;
        background-color: $color-skip;
        color: $color-secondary;

        &:hover {
            background-color: lighten($color-skip, 20%);
        }
    }

    &__button-incorrect {
        @extend .revision-card__button;
        background-color: $color-incorrect;
        color: $color-secondary;

        &:hover {
            background-color: lighten($color-incorrect, 20%);
        }
    }

    &__button-correct {
        @extend .revision-card__button;
        background-color: $color-correct;
        color: $color-secondary;

        &:hover {
            background-color: lighten($color-correct, 20%);
        }
    }
}
