@import '../../theme.scss';

.dots-container {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;

    .dot {
        flex: 1;
        height: 20px;
        margin: 1px;
        min-width: 20px;
        max-width: 20px;
        background-color: green;
        text-align: center;
    }

    .red {
        background-color: red;
    }

    .purple {
        background-color: purple;
    }

    .red:hover {
        cursor: pointer;
    }
}