<div class="dots-container">
    <div class="dots-container__dot" (click)="selectQuestion(question)" [ngClass]="{
        'dots-container__dot--selected' : question === currentQuestion,
        'dots-container__dot--orange' : question.question === '',
        'dots-container__dot--purple' : question.answer === '',
        'dots-container__dot--red' : question.answerExpiryDate | expired
    }" *ngFor="let question of questions; trackBy: trackByFn">
        {{ question.timesAnsweredCorrectly }}
    </div>
</div>

<div class="card">
    <div class="card__outer">
        <div class="card__inner">
            <div class="card__circle">
                {{ currentQuestion.timesAnsweredCorrectly }}
            </div>
            <div class="card__content">
                Total No Questions: {{questions.length}} Total Questions Answered Correctly: {{ sum() }} No Questions Left: {{ noQuestionsLeft() }}
            </div>
            <div class="card__content" *ngIf="!questionsLeft()">
                No Questions Left
            </div>
            <div class="card__content">
                <app-question [question]="currentQuestion" [(showAnswer)]="showCurrentAnswer"></app-question>
            </div>
            <div class="card__button-container">
                <button mat-button class="card__button--incorrect" (click)="answeredIncorrectly()">Incorrect</button>
                <button mat-button class="card__button--skip" (click)="nextQuestion()">Skip</button>
                <button mat-button class="card__button--correct" (click)="answeredCorrectly()">Correct</button>
            </div>
        </div>
    </div>
</div>
