@import '../../theme.scss';

.dots-container {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    position: relative; /* Ensure the dots container is positioned relative to its parent */

    .dot {
        flex: 1;
        height: 20px;
        margin: 1px;
        min-width: 20px;
        max-width: 20px;
        background-color: green;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }

    .red {
        background-color: red;
    }

    .purple {
        background-color: purple;
    }

    .orange {
        background-color: orange;
    }

    .selected {
        outline: 2px solid black;
    }
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Ensure the card is above the dots-container */
    width: 90%; /* Adjust width as needed */
    max-width: 700px; /* Optional max-width */
    border-radius: 8px; /* Optional for rounded corners */
    height: 100%;
    max-height: 1000px;
}
