@import '../../theme.scss';

.dots-container {
    width: 100%;
    height: 100vh; /* Ensure the container takes up the full viewport height */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); /* Create a grid that adapts */
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr)); /* Ensure rows follow the same logic */
    gap: 1px; /* Spacing between dots */
    position: relative;
}

.dots-container__dot {
    background-color: $color-lime-green;
    text-align: center;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;

    &:hover {
        cursor: pointer;
    }
}

.dots-container__dot--red {
    background-color: red;
}

.dots-container__dot--purple {
    background-color: purple;
}

.dots-container__dot--orange {
    background-color: orange;
}

.dots-container__dot--selected {
    outline: 2px solid black;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 90%;
    max-width: 700px;
    border-radius: 8px;
    height: 100%;
    max-height: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__content {
        margin-bottom: 20px;
    }

    &__button-container {
        display: flex;
        justify-content: space-around;
        margin-top: auto;
    }

    &__button {
        /* Additional button styles if needed */
    }
}
