<div class="dots-container">
    <div class="dot" (click)="selectQuestion(question)" [ngClass]="{'purple' : question.answer === '', 'red' : question.answerExpiryDate | expired  }" *ngFor="let question of questions; trackBy: trackByFn">
        {{ question.timesAnsweredCorrectly }}
    </div>
</div>
<div *ngIf="!questionsLeft()">
    No Questions Left
</div>
<div>
    <app-question [question]="currentQuestion" [(showAnswer)]="showCurrentAnswer"></app-question>
    <button class="button" (click)="nextQuestion()">Next Question</button>
    <button class="button" (click)="answeredIncorrectly()">Incorrect</button>
    <button class="button" (click)="answeredCorrectly()">Correct</button>
</div>

<app-bar [data]="chartData"></app-bar>