@import "../../theme.scss";

.notification {
    position: fixed;
    width: 100%;
    min-height: 50px;
    background-color: var(--theme-error-dark);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    z-index: 99999;

    &--success {
        background-color: var(--theme-success);
    }

    &--error {
        background-color: var(--theme-error-dark);
    }

    &--hidden {
        transform: translateY(-100%);
    }

    &__icon {
        margin-right: 1rem;
        color: $color-secondary;
    }

    &__message {
        color: $color-secondary;
    }

    &__cancel {
        $new-height: 24px;
        $scaling: calc($new-height / 40px);
        color: $color-secondary;
        width: $new-height;
        height: $new-height;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 10px;

        mat-icon {
            font-size: calc(24px * $scaling);
        }

        &:hover {
            color: lighten($color-primary, 10%);
        }
    }
}
