@import "../../theme.scss";

.header__nav {
  background-color: $color-primary;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;

  // Override Angular Material CSS variables with SCSS variables
  --mat-tab-header-inactive-label-text-color: #{$color-secondary};
  --mat-tab-header-active-label-text-color: #{$color-secondary};
  --mat-tab-header-inactive-hover-label-text-color: #{lighten($color-secondary, 10%)};
  --mat-tab-header-active-hover-label-text-color: #{lighten($color-secondary, 10%)};

  .header__nav-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--mat-tab-header-inactive-label-text-color);
    opacity: 1;
    height: $header-height;
    font-size: $font-size-2;
    background-color: $color-primary;
    transition: background-color 0.3s, box-shadow 0.3s;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), -2px -2px 5px rgba(255, 255, 255, 0.1);
    border: 1px solid darken($color-primary, 10%);

    &:hover {
      cursor: pointer;
      background-color: lighten($color-primary, 5%);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), -2px -2px 5px rgba(255, 255, 255, 0.2);
      color: var(--mat-tab-header-inactive-hover-label-text-color);
    }

    &.active {
      background-color: darken($color-primary, 10%);
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), inset -2px -2px 5px rgba(255, 255, 255, 0.2);
      border-bottom: 2px solid darken($color-secondary, 10%);
      color: var(--mat-tab-header-active-label-text-color);
    }

    .mat-tab-label,
    .mat-tab-label-active {
      color: inherit;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    .header__nav-link {
      font-size: $font-size-1;
      padding: 0 $spacing-2;
    }
  }

  @media (max-width: 480px) {
    .header__nav-link {
      font-size: $font-size-1;
      padding: 0 $spacing-1;
    }
  }
}
