@import "../../theme.scss";

.link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: $font-size;
    background-color: $color-primary;
    color: $color-secondary;
}