
  <div class="questions-left__outer">
    <div class="questions-left__inner">
      <div class="questions-left__content">
        <p>{{ questionsLeft }} Questions Left</p>
  
        <div class="questions-left__progress-bar">
          <!-- Green part of the progress bar -->
          <div class="questions-left__progress" [style.width]="progressPercentage + '%'"></div>
  
          <!-- Circle in the middle -->
          <div class="questions-left__circle" [style.left]="progressPercentage + '%'"></div>
        </div>
      </div>
    </div>
  </div>
  
  