// @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap');

:root {
    font-size: $font-size-base;
}

@media only screen and (max-width: $max-width--small) {
    :root {
        font-size: $font-size-mobile;
    }
}

body {
    font-family: $font-primary;
}

*:focus {
    // Give all focusable elements a clear outline for accessibility
    outline: global.$outline-width-base solid theme.Colour('primary');
}

/* Header, Paragraph And List Styles */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: $spacing-unit--base;
    color: theme.Colour('header-color');
}

h1 {
    font-size: $font-size-largest;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: $font-size-very-large;
    font-weight: 700;
}

h3 {
    font-size: $font-size-very-large;
    font-weight: 700;
}

h4 {
    font-size: $font-size-large;
    font-weight: 700;
    margin-bottom: 10px;
}

h5 {
    font-size: $font-size-large;
    font-weight: 500;
}

h6 {
    font-size: $font-size-medium;
    font-weight: 700;
}

@media only screen and (max-width: $max-width--small) {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: $spacing-unit--small;
    }
}

/**
* Paragraphs 
**/
p {
    font-size: $font-size-small;
    line-height: $base-line-height;
    margin: 0px;
    margin-bottom: $spacing-unit--base;
    color: theme.Colour('header-color');
}

@media only screen and (max-width: $max-width--small) {
    p {
        margin-bottom: $spacing-unit--tiny;
    }
}

i {
    line-height: $base-line-height;
}