@import "./theme.scss";

.main {
    min-height: 100vh;
    min-width: 100vh
}

.header {
    display: flex;
    width: 100%;
    min-height: 100px;
    position: sticky;
}

.body {
    min-height: calc(100vh - 200px);
}