@import "./theme.scss";

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.header {
    display: flex;
    width: 100%;
    position: sticky;
    height: $header-height;
    top: 0;
    z-index: $z-index-header;
}

.body {
    min-height: calc(100vh - $header-height);

    @media (max-width: 768px) {
        display: flex;
    }
}