@import './variables.scss';
@import './mixins.scss';
@import './default-components.scss';
@import './placeholders.scss';
@import './d3.scss';

body {
    --theme-success: green;
    --theme-error-dark: red;

    --mdc-theme-primary: #{$color-primary}; // Primary button background color
    --mdc-theme-on-primary: #{$color-secondary}; // Text color on primary button
    --mdc-theme-secondary: #{$color-primary}; // Accent button background color
    --mdc-theme-on-secondary: #{$color-secondary}; // Text color on accent button
}

