// Colors
$color-electric-blue: #1F51FF;
$color-lime-green: #32CD32;
$color-coral-pink: #FF6F61;
$color-sunshine-yellow: #FFD700;
$color-tangerine-orange: #FF9500;
$color-magenta: #FF00FF;
$color-aqua-cyan: #00FFFF;
$color-bright-purple: #8A2BE2;
$color-neon-green: #39FF14;
$color-hot-pink: #FF69B4;

$color-primary: $color-tangerine-orange;
$color-secondary: white;



// Fonts

// Font Sizes
$font-size-1: 1rem;
$font-size-1-5: 1.5rem;
$font-size-2: 2rem;