<div class="container">
    <div class="header">
        <div class="question">Q: {{ question.question }}</div>
        <div class="answer" *ngIf="showAnswer">A: {{ question.answer }}</div>
    </div>

    <mat-form-field class="chip-list" appearance="fill">
        <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip
                *ngFor="let tag of question.tags"
                (removed)="remove(tag)">
                {{ tag }}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <!-- Input for adding new tags -->
            <input
                placeholder="New tag..."
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="add($event)"
            />
        </mat-chip-list>
    </mat-form-field>

    <div class="footer">
        <button mat-raised-button (click)="revealAnswer()">
            {{ showAnswer ? "Hide" : "Reveal" }}
        </button>
        <button mat-raised-button (click)="edit()">Edit</button>
    </div>
</div>
