<div class="container">
    <div class="header">
        <div class="question">{{ question.question }}</div>
        <div class="answer" *ngIf="showAnswer">{{ question.answer }}</div>
    </div>

    <mat-form-field class="chip-list" appearance="fill">
        <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip
            *ngFor="let tag of question.tags"
            (removed)="remove(tag)">
            {{tag}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
        </mat-chip-list> 
    </mat-form-field>   

    <div class="footer">
        <button mat-button (click)="revealAnswer()">Reveal</button>
        <button mat-button (click)="edit()">Edit</button>
    </div>
</div>
