@import "../../theme.scss";

.container {
    display: flex;
    min-height: 300px;
    width: 100%;
    flex-direction: column;
    margin-top: 5px;
    justify-content: space-between;
    height: 100%;

    .header {
        flex: 10;
        @extend %center;
        flex-direction: column;
        color: $color-primary;

        .question {
            flex: 1;
            @extend %center;
            font-size: $font-size-6;
        }

        .answer {
            flex: 4;
            @extend %center;
            font-size: $font-size-4;
        }
    }

    .footer {
        flex: 1;
        @extend %space-around;
        flex-direction: column;
    }
}