@import "../../theme.scss";

.container {
    display: flex;
    min-height: 300px;
    width: 100%;
    flex-direction: column;
    margin-top: 5px;

    .header {
        flex: 10;
        @extend %center;
        flex-direction: column;
        color: $color-primary;

        .question {
            flex: 1;
            @extend %center;
            font-size: $font-size-2;
        }

        .answer {
            flex: 4;
            @extend %center;
            font-size: $font-size-1-5;
        }
    }

    .footer {
        flex: 1;
        @extend %space-around;
        flex-direction: column;
    }
}