@import "../../theme.scss";

.question-card {
    display: flex;
    min-height: 300px;
    width: 100%;
    flex-direction: column;
    margin-top: 5px;
    justify-content: flex-start; // Align items to the top
    height: 100%;
    text-align: center;

    &__header {
        flex: 1;
        @extend %center;
        flex-direction: column;
        color: $color-primary;
    }

    &__question {
        font-size: $font-size-6;
        line-height: 1.2; // Adjusted line height for clarity
        margin-bottom: 10px; // Give it some space from the answer
    }

    &__answer {
        flex: 0 1 auto; // Allow the answer to take more space when needed
        font-size: $font-size-4;
        line-height: 1.4;
        opacity: 0; // Initially hidden
        max-height: 0; // Hide content initially
        overflow: hidden; // Ensure smooth transition
        transition: opacity 0.3s ease, max-height 0.3s ease; // Smooth transition for opacity and height
        margin-top: 20px; // Add some space between question and answer
    }

    &__answer--visible {
        opacity: 1;
        max-height: 400px; // Increased max-height to give the answer more space
    }

    &__chip-list {
        margin: 10px 0;
    }

    &__footer {
        margin-top: auto; // Ensure the footer stays at the bottom
        @extend %space-around;
        flex-direction: column;
    }
}
