<form [formGroup]="questionForm">
    <div class="input-container">
        <div class="label">Question:</div>
        <input class="input" type="text" placeholder="Add Question" formControlName="question">
    </div>
    <div class="input-container">
        <div class="label">Answer:</div>
        <input class="input" type="text" placeholder="Add Answer" formControlName="answer">
    </div>
</form>
<button *ngIf="!editingQuestion" class="button" (click)="addQuestion()">Add Question</button>
<button *ngIf="editingQuestion" class="button" (click)="editQuestion()">Edit Question</button>