<form class="add-question" [formGroup]="questionForm">
  <!-- Question input with dynamic prefix -->
  <div class="add-question__input-container">
    <mat-form-field appearance="fill" class="add-question__input">
      <textarea
        matInput
        placeholder="Add Question"
        formControlName="question"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        spellcheck="false"
        (input)="questionForm.get('question').setValue(addPrefix(questionForm.get('question').value, 'Q: '))">
      </textarea>
    </mat-form-field>
  </div>

  <!-- Answer input with dynamic prefix -->
  <div class="add-question__input-container">
    <mat-form-field appearance="fill" class="add-question__input">
      <textarea
        matInput
        placeholder="Add Answer"
        formControlName="answer"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="20"
        spellcheck="false"
        (input)="questionForm.get('answer').setValue(addPrefix(questionForm.get('answer').value, 'A: '))">
      </textarea>
    </mat-form-field>
  </div>

  <!-- Updated Chip List for tags -->
  <!-- <mat-form-field class="add-question__chip-list" appearance="fill">
    <mat-chip-list #chipList aria-label="Tag selection">
        <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
            {{ tag }}
            <button matChipRemove>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip>
        <input
            placeholder="New Tag..."
            #tagInput
            [formControl]="tagCtrl"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field> -->

  <button *ngIf="!editingQuestion" class="add-question__button add-question__button--primary" mat-raised-button color="primary" (click)="addQuestion()">Add Question</button>
  <button *ngIf="editingQuestion" class="add-question__button add-question__button--accent" mat-raised-button color="accent" (click)="editQuestion()">Edit Question</button>
</form>
